# /etc/systemd/system/locks-lobby.service
[Unit]
Description=Locks lobby service
After=network.target postgresql.service

[Service]
WorkingDirectory=/home/nathan/code/nathancordrey/locks/lobby
ExecStart=/usr/bin/env npm start
Environment=LOBBY_PORT=2568
Environment=NODE_ENV=production
EnvironmentFile=-/etc/locks-lobby.env
Restart=always
RestartSec=3
User=nathan

[Install]
WantedBy=multi-user.target
