{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recipes.css') }}">
{% endblock styles %}

{% block content %}
    {% for category in categories %}
        <h2>{{ category }}</h2>
        {% for trip in trips %}
            <ul>
            {% if trip.meta['category'] == category %}
                <li><a href="{{ url_for('page', path=trip.path) }}">{{ trip.title }}</a></li>
            {% endif %}
            </ul>
        {% endfor %}
    {% endfor %}
{% endblock %}

